<!-- views/signup.ejs -->
<!doctype html>
<html>
<head>
  <title>eShopLite-Sign Up</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/font-awesome.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="/js/bootstrap.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <style>
    body { padding-top:80px; }
    .GameBG{
      background:url('public/images/bg.jpg');  
      background-repeat: no-repeat; 
      background-attachment: fixed;
      background-position: right top; 
    }
  </style>
</head>
<body class="GameBG">
  <div class="container">

    <div class="col-sm-6 col-sm-offset-3" style="background-color: rgba(255,255,255, 0.85); border-radius: 10px;">

      <h1><span class="fa fa-sign-in"></span> Signup</h1>
      <hr>

      <!-- show any messages that come back with authentication -->
      <% if (message.length > 0) { %>
        <div class="alert alert-danger">
          <%= message %>
        </div>
        <% } %>

        <!-- LOGIN FORM -->
        <div class="text-center">
          <form action="/signup" method="post">
           <div class="input-group">
             <input id='email' class='form-control' type="text" name="email" placeholder="Email" required>
             <span class="input-group-addon" style="background-color:#9b9b9b; border:none;">
               <i class="glyphicon glyphicon-envelope" style="color:white; width:20px"></i>
             </span>
           </div>
           <br >

           <div class="input-group">
             <input id='name' class='form-control' type="text" name="name" placeholder="Full Name" required>
             <span class="input-group-addon" style="background-color:#9b9b9b; border:none;">
               <i class="glyphicon glyphicon-user" style="color:white; width:20px"></i>
             </span>
           </div>
           <br >

           <div class="input-group">
             <input id='about' class='form-control' type="text" name="about" placeholder="Simple About Me" required>
             <span class="input-group-addon" style="background-color:#9b9b9b; border:none;">
               <i class="glyphicon glyphicon-user" style="color:white; width:20px"></i>
             </span>
           </div>
           <br >

           <div class="input-group">
             <input id='address' class='form-control' type="text" name="address" placeholder="Address" required>
             <span class="input-group-addon" style="background-color:#9b9b9b; border:none;">
               <i class="glyphicon glyphicon-user" style="color:white; width:20px"></i>
             </span>
           </div>
           <br >

           <div class="input-group">
             <input id='phone' class='form-control' type="text" name="phone" placeholder="Phone" required>
             <span class="input-group-addon" style="background-color:#9b9b9b; border:none;">
               <i class="glyphicon glyphicon-user" style="color:white; width:20px"></i>
             </span>
           </div>
           <br >

           <div class="input-group">
             <input id='country' class='form-control' type="text" name="country" placeholder="Country" required>
             <span class="input-group-addon" style="background-color:#9b9b9b; border:none;">
               <i class="glyphicon glyphicon-user" style="color:white; width:20px"></i>
             </span>
           </div>
           <br >

           <div class="input-group">
             <input id='password' class='form-control' placeholder="Password" type="password" name="password" required>
             <span class="input-group-addon" style="background-color:#9b9b9b; border:none;">
               <i class="glyphicon glyphicon-lock" style="color:white; width:20px"></i>
             </span>
           </div>
           <br >
           <button type="submit" class="btn btn-primary" style="width: 150px;">Login</button>
         </form>
       </div>
       <hr>

       <p>Already have an account? <a href="/login">Login</a></p>
       <p>Or go <a href="/">home</a>.</p>

     </div>

   </div>
 </body>
 </html>