<div class="container-fluid" style="background-color:gray;">
	<footer class="container">
		<div class="panel-primary">
			<div class="panel-body text-right">
				<p style="color:whitesmoke;">©2017 Powered by Heroku. All Rights Reserved.</p>
			</div>
		</div>
	</footer>
</div>