<div class="container-fluid" style="background-color: rgba(66, 70, 76, 0.9); padding-top: 20px; padding-bottom: 50px;">
	<footer>
		<div class="container">
			<div class="row text-center"  style="color: white;">
				<div class="col-md-4 col-sm-4">
					<h4><strong>ADDRESS</strong></h4>
					<hr>
					<p>Block 203 Lot 11, Building 3 Ponse Avenue</p>
					<p>Barangay Avela, Monte Subdivision</p>
					<p>Manila, Philippines</p>
				</div>
				<div class="col-md-4 col-sm-4">
					<h4><strong>SOCIAL</strong></h4><hr>
					<p><span class="fa-stack fa-lg">
						<a href="#"><i class="fa fa-square-o fa-stack-2x"></i>
							<i class="fa fa-twitter fa-stack-1x"></i>
						</a>
					</span>
					<span class="fa-stack fa-lg">
						<a href="#"><i class="fa fa-square-o fa-stack-2x"></i>
							<i class="fa fa-facebook fa-stack-1x"></i>
						</a>
					</span>
					<span class="fa-stack fa-lg">
						<a href="#"><i class="fa fa-square-o fa-stack-2x"></i>
							<i class="fa fa-yahoo fa-stack-1x"></i>
						</a>
					</span>
					<span class="fa-stack fa-lg">
						<a href="#"><i class="fa fa-square-o fa-stack-2x"></i>
							<i class="fa fa-google fa-stack-1x"></i>
						</a>
					</span>
					<span class="fa-stack fa-lg">
						<a href="#"><i class="fa fa-square-o fa-stack-2x"></i>
							<i class="fa fa-linkedin fa-stack-1x"></i>
						</a href="#">
					</span></p>
				</div>
				<div class="col-md-4 col-sm-4">
					<h4><strong>CONTACT</strong></h4><hr>
					<p>+897-8777-48755</p>
					<p>Mail: my_email@yahoo.com</p>
					<p>Jose Marichan Jr.</p>
				</div>
			</div>
		</div>
	</footer>
</div>
<div class="container-fluid" style="background-color:rgb(56, 54, 54); padding-top: 20px; padding-bottom: 30px;">
	<footer >
		<div class="container">
			<div class="row text-center"  style="color: white;">
				<div class="col-md-12 col-sm-12">
					©2017 Powered by Heroku. All Rights Reserved.
				</div>
			</div>
		</div>
	</footer>
</div>